.bookcard {
    background-color: lightgray;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
    max-width: 300px;
    margin: 20 auto;
    min-height: 160px; /* Minimum height to ensure vertical appearance */
    justify-content: center;

}

.bookcard-title {
    font-size: clamp(0.9rem, 1vw, 1.2rem); /* min, preferred, max */
    font-weight: 570;
    text-align: center;
    word-wrap: break-word;
    width: 80%;
    margin-bottom: 10px;
    padding-top: 15px;
}

.bookcard-author {
    font-size: clamp(0.8rem, 0.9vw, 1.1rem);
    text-align: center;
    word-wrap: break-word;
    width: 90%; /* Ensures text wraps within card */
}

.bookcard-heart {
    padding-top: 10px;
    padding-bottom: 10px;
}