@import "tailwindcss";
@import "flowbite";

/* TODO: CONSOLIDATE AND CLEAN CSS FILE */
/* TODO: MAKE DESCRIPTION RESPONSIVE */
/* TODO: ADJUST FOR COLOR-SCHEME PER DEVICE */
/* TODO: MAKE THIS DOCUMENT EASIER TO NAVIGATE SOMEHOW */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 2em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  font-weight: 750;
  line-height: 1.5;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 1.6em;
  font-weight: 670;
  line-height: 1.5;
  color: black;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.5;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content > p, h4 {
  padding: 0.8em;
  letter-spacing: 0.03em;
}

#content > h4 {
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f2f0ef;
  }
  a:hover {
    color: #747bff;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-bottom: 2em;
  line-height: 0.8;
  width: 100%;
  margin: 0 auto;
}

#hero-app > h2, #hero-app-logo > h2 {
  font-size: 1.3em;
  font-weight: 600;
}

#hero-app {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#hero-app-logo {
  margin-right: 15em;
  margin-left: 1em;
}

#hero-app > div {
  display: flex;
  align-items: center;
}

#hero-app-settings > svg {
  height: 40px;
  margin-right: 2em;
}

#hero-app-logo > a > img {
  height: 4.2em;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons > Button {
  margin: 1em;
}

/* DASHBOARD */
/* card */
#card {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

.imgWrap {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
}

/* Image */
.imgWrap img {
  height: 35em;
  width: 30em;
  overflow: hidden;
  display: block;
}

/* Gradient overlay */
.imgWrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  z-index: 1;
  pointer-events: none; /* allows clicks to pass through */
}

/* Text overlay container */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content:flex-start;
}

/* Individual elements */
.overlay h2 {
  font-size: 1.7em;
  font-weight: 600;
  margin: 0;
  text-align: left;
}

.overlay h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin: 0.3em 0;
  color: white;
  text-align: left;
}

#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#tags > Button {
  margin: 0.5em 0.7em 0em 0em;
  padding: 1em;
  opacity: 70%;
  font-size: 0.8em;
}

#tags > button:focus, button:active {
  box-shadow: none;
}

#action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

#action > Button {
  margin: 1em;
  height: 4em;
  filter: drop-shadow(0 0 1em #8285bfaa);
}

/* PREFERENCES */
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-group > Button {
  margin-right: 0.7em;
  margin-bottom: 0.7em;
}

/* ABOUT US */
#footer {
  position:absolute;
  top:95vh;
  transform:translateY(-95%);
  width:100%;
}